In [3]:
import pandas as pd
import numpy as np
import pyodbc

In [4]:
df = pd.read_csv('F:\\Code\\Notebooks\\DSE\\Project 1\\Weather Data.csv')
df.columns = ['Date','Temperature','Dew_Point','Relative_Humidity','Wind_Speed','Visibility_KM','Pressure_kPa','Weather']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               8784 non-null   object
 1   Temperature        8784 non-null   float64
 2   Dew_Point          8784 non-null   float64
 3   Relative_Humidity  8784 non-null   int64
 4   Wind_Speed         8784 non-null   int64
 5   Visibility_KM      8784 non-null   float64
 6   Pressure_kPa       8784 non-null   float64
 7   Weather            8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [5]:
pyodbc.drivers()

['SQL Server', 'MySQL ODBC 9.0 ANSI Driver', 'MySQL ODBC 9.0 Unicode Driver']

In [6]:
from mine import mod

In [7]:
conn = mod.db_connection('weather','MySQL ODBC 9.0 ANSI Driver','localhost','root')

DB Connection successful

In [8]:
df['Date']=pd.to_datetime(df['Date'])

In [9]:
curr = conn.cursor()

query_1 = """
CREATE TABLE weather_table (
    Date datetime,
    Temperature float ,
    Dew_Point float,
    Relative_Humidity int,
    Wind_Speed int,
    Visibility_KM float,
    Pressure_kPa float,
    Weather varchar(800)    
)


"""

# mod.create_table(conn,query_1)

Error adding data ('42S01', "[42S01] [MySQL][ODBC 9.0(a) Driver][mysqld-8.0.39]Table 'weather_table' already exists (1050) (SQLExecDirectW)")

In [12]:
query_2 = """

INSERT INTO weather_table Values (?,?,?,?,?,?,?,?)

"""


# mod.add_data(conn,query_2,df)

ProgrammingError: Attempt to use a closed connection.

In [14]:
conn = mod.db_connection('weather','MySQL ODBC 9.0 ANSI Driver','localhost','root')

DB Connection successful

In [16]:
q3 = """
SELECT * from weather_table WHERE weather like '%snow'
"""

pd.DataFrame(mod.get_data(conn,q3))

                      0     1     2   3   4     5       6     7
0   2012-01-03 07:00:00 -14.0 -19.5  63  19  25.0  100.95  Snow
1   2012-01-04 12:00:00 -13.7 -21.7  51  11  24.1  101.25  Snow
2   2012-01-04 14:00:00 -11.3 -19.0  53   7  19.3  100.97  Snow
3   2012-01-04 15:00:00 -10.2 -16.3  61  11   9.7  100.89  Snow
4   2012-01-04 16:00:00  -9.4 -15.5  61  13  19.3  100.79  Snow
..                  ...   ...   ...  ..  ..   ...     ...   ...
887 2012-12-31 19:00:00   0.1  -2.7  81  30   9.7  100.13  Snow
888 2012-12-31 20:00:00   0.2  -2.4  83  24   9.7  100.03  Snow
889 2012-12-31 21:00:00  -0.5  -1.5  93  28   4.8   99.95  Snow
890 2012-12-31 22:00:00  -0.2  -1.8  89  28   9.7   99.91  Snow
891 2012-12-31 23:00:00   0.0  -2.1  86  30  11.3   99.89  Snow

[892 rows x 8 columns]