In [1]:
import pandas as pd
import numpy as np
import pyodbc

In [2]:
df = pd.read_csv('F:\\Code\\Notebooks\\DSE\\Project 1\\Weather Data.csv')
df.columns = ['Date','Temperature','Dew_Point','Relative_Humidity','Wind_Speed','Visibility_KM','Pressure_kPa','Weather']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               8784 non-null   object
 1   Temperature        8784 non-null   float64
 2   Dew_Point          8784 non-null   float64
 3   Relative_Humidity  8784 non-null   int64
 4   Wind_Speed         8784 non-null   int64
 5   Visibility_KM      8784 non-null   float64
 6   Pressure_kPa       8784 non-null   float64
 7   Weather            8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [11]:
pyodbc.drivers()

['SQL Server', 'MySQL ODBC 9.0 ANSI Driver', 'MySQL ODBC 9.0 Unicode Driver']

In [4]:
from mine import mod

In [12]:
conn = mod.db_connection('weather','MySQL ODBC 9.0 ANSI Driver','localhost','root')

DB Connection successful

In [13]:
df['Date']=pd.to_datetime(df['Date'])

In [14]:
curr = conn.cursor()

query_1 = """
CREATE TABLE weather_table (
    Date datetime,
    Temperature float ,
    Dew_Point float,
    Relative_Humidity int,
    Wind_Speed int,
    Visibility_KM float,
    Pressure_kPa float,
    Weather varchar(800)    
)


"""

mod.create_table(conn,query_1)

In [15]:
query_2 = """

INSERT INTO weather_table Values (?,?,?,?,?,?,?,?)

"""


mod.add_data(conn,query_2,df)

Data added and connection closed